* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #2d2d2d;
}

@font-face {
    src: url(../fonts/Actor-Regular.ttf);
    font-family: Actor;
}

@font-face {
    src: url(../fonts/Alatsi-Regular.ttf);
    font-family: Alatsi;
}

@font-face {
    src: url(../fonts/Allerta-Regular.ttf);
    font-family: Allerta;
}

@font-face {
    src: url(../fonts/Lato-Regular.ttf);
    font-family: Lato;
}

@font-face {
    src: url(../fonts/Basic-Regular.ttf);
    font-family: Basic;
}

@font-face {
    src: url(../fonts/arial.ttf);
    font-family: Arial;
}

.about-box {
    height: 750px;
    width: 1200px;
    margin: 40px auto;
    background-color: #212325;
    border: 2px groove orangered;
    border-width: 2px 2px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    cursor: default;
}

.about-box h1 {
    background-color: #1c1c1d;
    margin: 60px 0px 30px 0px;
    color: white;
    font-family: 'Actor';
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;
    border-width: 2px 0px;
    border-style: groove;
    border-color: orangered;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
    padding: 4px;
    cursor: default;
}

.about-box .title {
    color: #fff;
    font-size: 22px;
    font-family: 'Allerta';
    margin: 30px auto;
    font-weight: bold;
}

.about-box .sep {
    width: 600px;
    height: 2px;
    background-color: #6E6F72;
    position: absolute;
    top: 190px;
    left: 300px;
}

.about-box .p-doc {
    color: orangered;
    font-size: 20px;
    font-family: 'Actor';
    text-align: left;
    margin: 50px 110px 20px 100px;
    font-weight: bold;
}

.about-box .sep-doc {
    width: 150px;
    height: 1px;
    background-color: #6E6F72;
    position: absolute;
    top: 260px;
    left: 95px;
}

.about-box table {
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 100px;
}

.about-box table tr td {
    -webkit-text-stroke: 0.5px black;
    text-align: left;
    max-width: 500px;
    padding: 20px;
}

.about-box table tr .names {
    color: #00ffef;
    font-size: 20px;
    font-family: 'Basic';
    text-align: left;
    text-shadow: 2px 2px #000000;
}

.about-box table tr .names span {
    color: #9b9b9b;
}

.about-box table tr .arrows {
    color: #087419;
    font-size: 22px;
    font-family: 'Basic';
    text-align: left;
    font-weight: unset;
    text-shadow: 1px 1px #000000;
    -webkit-text-stroke: 0.2px black;
}

.about-box table tr .works {
    color: #ff2f00;
    font-size: 20px;
    font-family: 'Basic';
    font-weight: revert;
    text-shadow: 1px 2px black;
    -webkit-text-stroke: 0.2px black;
    text-align: center;
}
